<div class="modal fade" id="uploadModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
<form class="modal-content" action="{{ url_for('storage.upload') }}" method="post" enctype="multipart/form-data">
<div class="modal-header">
<h5 class="modal-title">Upload File</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
<div class="mb-3">
<label class="form-label">File(s)</label>
<input class="form-control" type="file" name="file" multiple required>
</div>
<div class="mb-3">
<label class="form-label">Category</label>
<input class="form-control" name="category">
</div>
<div class="mb-3">
<label class="form-label">Tags (comma)</label>
<input class="form-control" name="tags">
</div>
<div class="mb-3">
<label class="form-label">Description</label>
<textarea class="form-control" name="description"></textarea>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
<button class="btn btn-primary" type="submit">Upload</button>
</div>
</form>
</div>
</div>


